*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(236, 233, 233);
    width: 100%;
}
.service{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    margin: 3% 0;
    width: inherit;
    text-align: center;
}
.page{
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 70vh;
}
.logo:has(#soft:checked)~.item1{
    width: 50%;
    margin-left: 11%;
}
.logo:has(#cart:checked)~.item2{
    width: 50%;
    margin-left: 11%;
}
.logo:has(#web:checked)~.item3{
    width: 50%;
    margin-left: 11%;
}
.logo:has(#mobile:checked)~.item4{
    width: 50%;
    margin-left: 11%;
}
.logo:has(#ui:checked)~.item5{
    width: 50%;
    margin-left: 11%;
}
.logo:has(#support:checked)~.item6{
    width: 50%;
    margin-left: 11%;
}
#soft:checked~.line1{
    width: 90px;
}
#cart:checked~.line2{
    width: 90px;
}
#web:checked~.line3{
    width: 90px;
}
#mobile:checked~.line4{
    width: 90px;
}
#ui:checked~.line5{
    width: 90px;
}
#support:checked~.line6{
    width: 90px;
}
input[type="radio"]{
    position: relative;
    visibility: hidden;
    width: 100%;
    height: 100%;

}
.cover{
    width: inherit;
    height: 16.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    background-color: black;
    border-radius: 100px;
    height: 6px;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
}
input[type="radio"]::before{
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    visibility: visible;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}
input[type="radio"]:hover::before{
    background-size: 100%;
}
#soft::before{
    background-image: url(img/software.png);
}
#cart::before{
    background-image: url(img/ecommerce.png);
}
#web::before{
    background-image: url(img/web.png);
}
#mobile::before{
    background-image: url(img/mobile.png);
}
#ui::before{
    background-image: url(img/ui.webp);
}
#support::before{
    background-image: url(img/support.png);
}
.item{
    height: 72vh;
    width: 0;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s linear 0s;
}
.item::before{
    content: " ";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.7;
}
.image{
    width: 100%;
    height: inherit;
}
.bio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bolder;
}
.item-name{
    font-size: 4vw;
    line-height: 4.5vw;
    width: 566px;
}
.item-detail{
    font-size: 1.2vw;
    width: 617px;
}
.btn{
    height: 33px;
    width: 120px;
    background-color: white;
    color: black;
    border-radius: 7px;
    transition: all 0.5s ease-out 0s;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    box-shadow: 0px 0px 10px 0px white;
}
@media only screen and (max-width: 1256px){
    .item-detail{
        width: 377px;
    }
}
@media only screen and (max-width: 920px){
    .item-name{
        width: 473px;
    }
}
@media only screen and (max-width: 768px){
    .page-mini{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 88vh;
    }
    .logo-mini{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 20vh;
    }
    .logo:has(#soft:checked)~.item1-mini{
        height: 50vh;
        width: 90%;
        margin-top: 7%;
        margin-left: 0;
    }
    .logo:has(#cart:checked)~.item2-mini{
        height: 50vh;
        width: 90%;
        margin-top: 7%;
        margin-left: 0;
    }
    .logo:has(#web:checked)~.item3-mini{
        height: 50vh;
        width: 90%;
        margin-top: 7%;
        margin-left: 0;
    }
    .logo:has(#mobile:checked)~.item4-mini{
        height: 50vh;
        width: 90%;
        margin-top: 7%;
        margin-left: 0;
    }
    .logo:has(#ui:checked)~.item5-mini{
        height: 50vh;
        width: 90%;
        margin-top: 7%;
        margin-left: 0;
    }
    .logo:has(#support:checked)~.item6-mini{
        height: 50vh;
        width: 90%;
        margin-top: 7%;
        margin-left: 0;
    }
    .cover-mini{
        height: inherit;
        width: 16.1%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .line-mini{
        visibility: hidden;
    }
    .item-mini{
        height: 0;
        width: 90%;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        transition: all 0.5s linear 0s;
    }
    .item-name-mini{
        font-size: 6vw;
        line-height: 7vw;
        width: 80%;
    }
    .item-detail-mini{
        font-size: 2.5vw;
        width: 80%;
    }
}